<section id="customer" class="position-relative mt-5 mb-5 bg-gradiant_bgimage">
  <div class="container">
    <div class="client_review">
      <div class="section_title text-white section_client">
        <h4>أراء عملائنا</h4>
        <p class="subtitle_comp text-white">
          يتوفر لدى اللبودي للمقابر مدافن للبيع بمساحات مختلفة حسب رغبة العملاء
          كما يتوافر لدينا أحواش ولحود شرعية في معظم المناطق في مصر، وتعمل
          الشركة على التيسير على العملاء بسرعة التسليم للمدافن والتسجيل العقاري
          للمدافن بمجرد التعاقد ، كما أن جميع المقابر لدينا شرعية ومرخصة وعلى
          جودة عالية من التشطيبات.
        </p>
        <div class="client_slider">
          <swiper [pagination]="true"  [navigation]="true" class="client_swiper">
            <ng-template swiperSlide>
              <mat-card class="p-3 card_client">
                <figure class="testimonial-item m-auto">
                  <img src="https://via.placeholder.com/140" alt="avatar" />
                </figure>
                <h3 class="mb-1">أحمد عبد الهاد ي</h3>
                <p>وريم إيبسوم(Lorem Ipsum) هو ببساطة نص شكلي</p>
                <div class="comment_wrapper">
                  <p class="d-flex mt-3">
                    وريم إيبسوم(Lorem Ipsum) هو ببساطة نص شكلي (بمعنى أن الغاية
                    هي الشكل وليس المحتوى) ويُستخدم في صناعات المطابع ودور
                    النشر. كان لوريم إيبسوم ولايزال وريم إيبسوم(Lorem Ipsum) هو
                    ببساطة نص شكلي "
                  </p>
                </div>
              </mat-card> </ng-template
            ><ng-template swiperSlide>
              <mat-card class="p-3 card_client">
                <figure class="testimonial-item m-auto">
                  <img src="https://via.placeholder.com/140" alt="avatar" />
                </figure>
                <h3 class="mb-1">أحمد عبد الهاد ي</h3>
                <p>وريم إيبسوم(Lorem Ipsum) هو ببساطة نص شكلي</p>
                <div class="comment_wrapper">
                  <p class="d-flex mt-3 position-relative comment">
                    وريم إيبسوم(Lorem Ipsum) هو ببساطة نص شكلي (بمعنى أن الغاية
                    هي الشكل وليس المحتوى) ويُستخدم في صناعات المطابع ودور
                    النشر. كان لوريم إيبسوم ولايزال وريم إيبسوم(Lorem Ipsum) هو
                    ببساطة نص شكلي "
                  </p>
                </div>
              </mat-card></ng-template
            ><ng-template swiperSlide>
              <mat-card class="p-3 card_client">
                <figure class="testimonial-item m-auto">
                  <img src="https://via.placeholder.com/140" alt="avatar" />
                </figure>
                <h3 class="mb-1">أحمد عبد الهاد ي</h3>
                <p>وريم إيبسوم(Lorem Ipsum) هو ببساطة نص شكلي</p>
                <div class="comment_wrapper">
                  <p class="d-flex mt-3 position-relative comment">
                    وريم إيبسوم(Lorem Ipsum) هو ببساطة نص شكلي (بمعنى أن الغاية
                    هي الشكل وليس المحتوى) ويُستخدم في صناعات المطابع ودور
                    النشر. كان لوريم إيبسوم ولايزال وريم إيبسوم(Lorem Ipsum) هو
                    ببساطة نص شكلي "
                  </p>
                </div>
              </mat-card></ng-template
            ><ng-template swiperSlide>
              <mat-card class="p-3 card_client">
                <figure class="testimonial-item m-auto">
                  <img src="https://via.placeholder.com/140" alt="avatar" />
                </figure>
                <h3 class="mb-1">أحمد عبد الهاد ي</h3>
                <p>وريم إيبسوم(Lorem Ipsum) هو ببساطة نص شكلي</p>
                <div class="comment_wrapper">
                  <p class="d-flex mt-3 position-relative comment">
                    وريم إيبسوم(Lorem Ipsum) هو ببساطة نص شكلي (بمعنى أن الغاية
                    هي الشكل وليس المحتوى) ويُستخدم في صناعات المطابع ودور
                    النشر. كان لوريم إيبسوم ولايزال وريم إيبسوم(Lorem Ipsum) هو
                    ببساطة نص شكلي "
                  </p>
                </div>
              </mat-card></ng-template>
          </swiper>
        </div>
      </div>
    </div>
  </div>
</section>
