<div class="fixed_navbar" [ngClass]="{ scrollClass: scrolled }">
<div class="top_navbar d-none d-lg-block">
    <div class="container ">
        <div class="row justify-content-between">
            <div class="col-lg-5 col-6">
                <div  class="right_top_navbar d-flex ">
                    <a href="" class="d-flex align-items-center">
                        <mat-icon class="ms-2" aria-hidden="false" > room</mat-icon>
                        ٢٩٤ ع شارع الجيش البوابه الرابعه حدائق الاهرام
                    </a>
                    <a href="tel:555-666-7777"  class="d-flex ms-3 align-items-center" >
                        <mat-icon class="ms-2" aria-hidden="false" > phone</mat-icon>
                        20100000000+
                    </a>
                </div>
              
            </div>
            <div class="col-lg-3 col-6 ">
               <div class="top_left_navbar d-flex ">
                <a href="www.twitter.com" class="d-flex align-items-center" target="_blank">
                   
                    <i class="bi bi-twitter ms-2"></i>
                </a>
                <a href="www.facebook.com"  class="d-flex ms-3 align-items-center" target="_blank" >
                    <mat-icon class="ms-2" aria-hidden="false" > facebook</mat-icon>
                 
                </a>
                <a href="www.youtube.com"  class="d-flex ms-3 align-items-center" target="_blank" >
                    <i class="bi bi-youtube ms-2"></i>
                 
                </a>
               </div>
            </div>
        </div>
    </div>
</div>
<div class="navbar_Wrapper shadow">
    
    <mat-toolbar color="primary">
        <div class="container container-responsive">
            <div class="row justify-content-between">
                <div class="col-lg-4 col-4">
                  <div class="logo-wrapper p-3 p-responsive">
                   <img src="../../../assets/images/logoorange.svg" class="w-100" alt="logo"/>
                  </div>

                </div>
                <div class="col-lg-3  col-3 d-flex justify-self-end">
                    <div fxShow="true" fxHide.lt-md="true" class="listnav_top">
                        <!-- The following menu items will be hidden on both SM and XS screen sizes -->
                        <a href="#" mat-button>
                            الرئيسية</a>
                        <a href="#" mat-button>من نحن</a>
                        <a href="#" mat-button>مميزاتنا</a>
                        <a href="#" mat-button>أماكن المقابر </a>
                        <a href="#" mat-button>  تواصل معنا</a>
                      
                      </div>
                  
                      <div class="menu_toggle " (click)="sidenav.toggle()">
                        
                        <button mat-icon-button color="primary" aria-label="Example icon button with a menu icon">
                            <mat-icon>menu</mat-icon></button>
                      
                      </div>
                </div>
            </div>
     
         
        </div>
       
      </mat-toolbar>
    
      <mat-sidenav-container fxFlexFill class="example-container">
        <mat-sidenav #sidenav fxLayout="column">
          <div fxLayout="column">
            <a (click)="sidenav.toggle()" href="#" mat-button>Close</a>
            <a href="#" mat-button>
                الرئيسية</a>
            <a href="#" mat-button>من نحن</a>
            <a href="#" mat-button>مميزاتنا</a>
            <a href="#" mat-button>أماكن المقابر </a>
            <a href="#" mat-button>  تواصل معنا</a>
          </div>
        </mat-sidenav>
       
        
      </mat-sidenav-container>
</div>
</div>