<section id="features" class="position-relative mt-5 mb-5">
    <div class="bg-pattern"> </div>
    <div class="container">
        <div class="section_title">
            <h4>مميزات التعامل مع اللبودي للمقابر</h4>
            <p class="subtitle_comp">يتوفر لدى اللبودي للمقابر مدافن للبيع بمساحات مختلفة حسب رغبة العملاء كما يتوافر لدينا أحواش ولحود شرعية  في معظم المناطق في مصر، وتعمل الشركة على التيسير على العملاء بسرعة التسليم للمدافن والتسجيل العقاري للمدافن بمجرد التعاقد ، كما أن جميع المقابر لدينا شرعية ومرخصة وعلى جودة عالية من التشطيبات.</p>
        </div>
        <div class="features_wrapper">
            <div class="row">
                <div class="col-lg-4 col-12">
                    <mat-card class="feature_Card_item shadow">
                        <figure class="feature_icon">
                            <img src="../../../assets/images/money.svg"  alt="icon"/>
                        </figure>
                        <h4>يوجد لدينا نظامي الدفع بالكاش والتقسيط</h4>
                        <span class="d-block">وريم إيبسوم(Lorem Ipsum) هو ببساطة نص شكلي (بمعنى أن الغاية هي الشكل وليس المحتوى) ويُستخدم في صناعات المطابع ودور النشر. كان لوريم إيبسوم ولايزال</span>
                    </mat-card>
                </div>
                <div class="col-lg-4 col-12">
                    <mat-card class="feature_Card_item shadow">
                        <figure class="feature_icon">
                            <img src="../../../assets/images/stopwatch.svg"  alt="icon"/>
                        </figure>
                        <h4>سرعة تسليم المدافن</h4>
                        <span class="d-block">وريم إيبسوم(Lorem Ipsum) هو ببساطة نص شكلي (بمعنى أن الغاية هي الشكل وليس المحتوى) ويُستخدم في صناعات المطابع ودور النشر. كان لوريم إيبسوم ولايزال</span>
                    </mat-card>
                </div>
                <div class="col-lg-4 col-12">
                    <mat-card class="feature_Card_item shadow">
                        <figure class="feature_icon">
                            <img src="../../../assets/images/file-earmark-text.svg"  alt="icon"/>
                        </figure>
                        <h4>جميع المدافن مرخصة للبيع</h4>
                        <span class="d-block">وريم إيبسوم(Lorem Ipsum) هو ببساطة نص شكلي (بمعنى أن الغاية هي الشكل وليس المحتوى) ويُستخدم في صناعات المطابع ودور النشر. كان لوريم إيبسوم ولايزال</span>
                    </mat-card>
                </div>
                <div class="col-lg-4 col-12">
                    <mat-card class="feature_Card_item shadow">
                        <figure class="feature_icon">
                            <img src="../../../assets/images/eye.svg"  alt="icon"/>
                        </figure>
                        <h4>معاينة على مدار أيام الأسبوع</h4>
                        <span class="d-block">وريم إيبسوم(Lorem Ipsum) هو ببساطة نص شكلي (بمعنى أن الغاية هي الشكل وليس المحتوى) ويُستخدم في صناعات المطابع ودور النشر. كان لوريم إيبسوم ولايزال</span>
                    </mat-card>
                </div>

                <div class="col-lg-4 col-12">
                    <mat-card class="feature_Card_item shadow">
                        <figure class="feature_icon">
                            <img src="../../../assets/images/building.svg"  alt="icon"/>
                        </figure>
                        <h4>أراضٍي فارغة للبناء حسب احتياجات العميل</h4>
                        <span class="d-block">وريم إيبسوم(Lorem Ipsum) هو ببساطة نص شكلي (بمعنى أن الغاية هي الشكل وليس المحتوى) ويُستخدم في صناعات المطابع ودور النشر. كان لوريم إيبسوم ولايزال</span>
                    </mat-card>
                </div>

                <div class="col-lg-4 col-12">
                    <mat-card class="feature_Card_item shadow">
                        <figure class="feature_icon">
                            <img src="../../../assets/images/card-checklist.svg"  alt="icon"/>
                        </figure>
                        <h4>مدافن ومقابر شرعية للبيع</h4>
                        <span class="d-block">وريم إيبسوم(Lorem Ipsum) هو ببساطة نص شكلي (بمعنى أن الغاية هي الشكل وليس المحتوى) ويُستخدم في صناعات المطابع ودور النشر. كان لوريم إيبسوم ولايزال</span>
                    </mat-card>
                </div>
                
            </div>
        </div>
    </div>
 
</section>