<section id="banner" class="position-relative banner_wrapper">

    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-lg-4 col-12">
                <div class="banner_right shadow">
                    <div class="banner_right_logo">
                        <img src="../../../assets/images/logoblue.svg" class="" alt="logo"/>
                    </div>
                    <div class="banner_card_desc">

                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-12">
                <div class="card-body">
                    <div class="card_body"><h5>مدافن للبيع ومقابر للبيع شرعية و جاهزة ومرخصة بالعديد من مناطق الجمهورية</h5><span  class="d-block">وريم إيبسوم(Lorem Ipsum) هو ببساطة نص شكلي (بمعنى أن الغاية هي الشكل وليس المحتوى) ويُستخدم في صناعات المطابع ودور النشر. كان لوريم إيبسوم ولايزال وريم إيبسوم(Lorem Ipsum) هو ببساطة نص شكلي (بمعنى أن الغاية هي الشكل وليس المحتوى) ويُستخدم في صناعات المطابع ودور النشر. كان لوريم إيبسوم ولايزالوريم إيبسوم(Lorem Ipsum) هو ببساطة نص شكلي (بمعنى أن الغاية هي الشكل وليس المحتوى) ويُستخدم في صناعات المطابع ودور النشر. كان لوريم إيبسوم ولايزالوريم إيبسوم(Lorem Ipsum) هو ببساطة نص شكلي (بمعنى أن الغاية هي الشكل وليس المحتوى) ويُستخدم في صناعات المطابع ودور النشر. كان لوريم إيبسوم ولايزال</span></div>
                </div>
             
            </div>
        </div>
    </div>
</section>