<section class="page_wrappper">
    <app-header></app-header>
    <app-slider-component></app-slider-component>
    <app-dealing-features></app-dealing-features>
    <app-places></app-places>
    <app-banner></app-banner>
    <app-customerreview></app-customerreview>
    <app-gallery></app-gallery>
    <app-videos></app-videos>
    <app-footer></app-footer>
    <div class="what_call_btn phone_Call">
        <a href="tel:555-666-7777" class="what_call"><i class="bi bi-telephone-fill"></i></a>
    </div>
    <div class="what_call_btn">
        <a href="https://api.whatsapp.com/send?phone=15551234567" class="what_call"><i class="bi bi-whatsapp"></i></a>
    </div>
</section>
