<footer>
    <div class="container">
        <div class="column">
           
            <a>اللبودي للمقابر لبيع و بناء وشراء المدافن المرخصة بالعديد من مناطق الجمهورية</a>
           
            </div>
            <div class="column">
            <a class="footer_title">روابط اخري</a>
            <a href="#">الرئيسية</a>
            <a href="#">من نحن </a>
            <a href="#">مميزاتنا</a>
            <a href="#">اماكن المقابر</a>
            </div>
            <div class="column">
            <a class="footer_title">الأختصارات</a>
            <a href="">وريم إيبسوم</a>
            <a href="">وريم إيبسوم</a>
          
            </div>
            <div class="column img_fig">
            <a class="footer_title">أماكن المقابر والمدافن</a>
            <a href="" title="Lorem ipsum dolor sit amet"><img src="../../../assets/images/burial001.jpg"></a>
            <a href="" title="Lorem ipsum dolor sit amet"><img src="../../../assets/images/burial002.jpg"></a>
            <a href="" title="Lorem ipsum dolor sit amet"><img src="../../../assets/images/burial003.jpg"></a>
            <a href="" title="Lorem ipsum dolor sit amet"><img src="../../../assets/images/burial005.jpg"></a>
         
            </div>
            <div class="column">
            <a class="footer_title">تواصل معنا</a>
            <a title="Address"><i class="fa fa-map-marker"></i> العنوان الخاص بالشركة</a>
            <a href="emailto:" title="Email"><i class="fa fa-envelope"></i> الأيميل الخاص بالشركة</a>
            <a href="tel:" title="Contact"><i class="fa fa-phone"></i> رقم الموبايل الخاص بالشركة</a>
            </div>
    </div>
 
    
    <div class="sub-footer">
    جميع الحقوق  محفوظة  لدي  اللبودي للمقابر
    </div>
    </footer>